---
title: "Bug Bounty World"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/earth-earth-at-night-night-lights-41949.jpeg
  cta_label: "Sign Up"
  cta_url: "https://docs.google.com/forms/d/e/1FAIpQLSf7_ZNpxlsFOF9_1ZqNMayc_njgB-OqDeQvIA-JvTORlmkNeQ/viewform"
excerpt: "Making the #bugbounty community more open and connected.😄🌎"
intro: 
  - excerpt: 'We are on a mission to help secure the internet. To fulfill this mission we want everyone in the security community to learn more and help secure the internet. We would love to connect with you, if you are interested in doing so, request to join our bugbountyworld slack channel.'
feature_row:
  - title: "How It Works? 🤔"
    excerpt: "Different channels for different purposes."
    url: "/how-it-works/"
    btn_label: "Learn more"
    btn_class: "btn--inverse"
  - title: "Slack Archives 💎"
    excerpt: "Handpicked Gems from slack channels."
    url: "/slack-archives/"
    btn_label: "Check it out"
    btn_class: "btn--inverse"
  - title: "Rules To Follow 📝"
    excerpt: "Some Rules for everyone to follow."
    url: "/rules/"
    btn_label: "Learn More"
    btn_class: "btn--inverse"


---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


