---
---

@import "{{ site.theme }}";

body {
	font-family: 'Droid Serif', serif !important;
}
header h1 {
	font-size: 60px;
	font-family: 'Droid Serif', serif;
}

#main-content {
	text-align: justify;
}
