---
---

@import "{{ site.theme }}";

header h1 {
	font-size: 60px;
	font-family: 'Droid Serif', serif;
}
#main-content {

	text-align: justify;
}
#main-content h2 {
	font-family: 'Droid Serif', serif;
}
